.course-card {
    border: 1px solid black;
    height: fit-content;
    margin-top: 1em;
    padding: 1.5em;
    display: flex;
    flex-direction: row nowrap;
}

.content {
    width: 70%;
}

.content-title {
    font-weight: bold;
    margin: 0 0 1em ;
}

.content-description {
    display: -webkit-box;
    height: 4.5em;
    margin-bottom: 0.5em;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.info-button {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.show-course-button {
    width: fit-content;
    align-self: center;
    padding: 5px
}