header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid red;
    padding: 5px;
}

.left {
    display: flex;
    align-items: center;
    border: 1px solid green;
    margin: 5px;
}

.right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
    margin: 5px;
    align-items: center;
}

.right-item {
    margin-right: 1em;
}