.search-and-add-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 1em;
}

.add {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
}

.add-button {
    height: fit-content;
}