.title-and-create {
    display: flex;
    flex-flow: row nowrap;
    height: fit-content;
    margin: 1em;
}

.course-title-input {
    display: flex;
    flex-flow: column nowrap;
    height: fit-content;
    justify-self: flex-start;
    margin-left: 0;
}

.create-course {
    display: flex;
    flex-flow: row-reverse;
    width: 100%;
}

.create-course-button {
    height: fit-content;
    padding: 0.5em;
    margin: 2em;
    width: 15em;
}

.description {
    display: flex;
    flex-flow: column;
    margin: 1em;
    width: 95%;
}

.description-label {
    padding: 0.5em;
}

.description-textarea {
    min-height: 5em;
    padding: 0.5em;
}

.course-info {
    display: flex;
    flex-flow: row;
}

.create-author-and-duration {
    width: 50%;
    text-align: center;
}

.create-author {
    margin: 1em;
    text-align: left;
}

.create-author-input {
    width: 90%;
}

.create-author-button {
    height: 2em;
}

.course-duration {
    margin: 1em;
    text-align: left;
}

.course-duration-input {
    width: 90%;
}

.course-duration-display {
    width: 100%;
    text-align: left;
    margin: 1em;
    margin-left: 2em;
}

.course-duration-display span {
    font-weight: bold;
    font-size: 1.5em;
}

.course-authors-lists {
    width: 50%;
    text-align: center;
}

.course-authors-add {
    display: flex;
    flex-flow: row;
    margin: 0.5em;
    height: 1.5em;
}

.course-author-name {
    text-align: left;
    width: 50%;
}

.course-author-button {
    width: 30%;
}