.info {
    width: 30%;
    display: flex;
    flex-flow: column;
}

.info-item {
    display: flex;
    flex-flow: row nowrap;
    margin: 0.3em
}

.info-title {
    font-weight: bold;
    padding-right: 0.3em;
}

.info-content {
    display: -webkit-box;
    height: 1em;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.info-content-multiline {
    display: flex;
    flex-flow: column;
}

.info-content-multiline-item {
    padding-bottom: 0.5em;
}